@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{

  box-sizing: border-box;
  margin:0;
  padding:0;
  font-family: 'Montserrat',sans-serif;
  background-color: #7c7ceb;
  color: #fff;
}
.coin-app{
  display: flex;
  flex-direction: column;
  margin-top: 64px;
  align-items: center;
  color: #fff;
}
.coin-search{
  margin-bottom: 64px;
  display: flex;
  align-items: center;
  flex-direction: column;
  align-content: center;
  text-decoration-color: #eeff00;
}
.coin-text{
  margin-bottom: 32px;
  text-align: center;
}
.coin-input{
  padding-left: 10px;
  width: 300px;
  height: 50px;
  border-radius: 10px;
  border:none;
  background-image: linear-gradient(-2225deg, #04e1e9 20%,
  #18f23c 48%,
  #eeff00 100%);
  color: #3a3535;
  font-weight: bolder;
  font-size: medium;
}
.coin-input::placeholder{
  color:#1a1a1c;
}